<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- 中科富星插件框架配置　 -->
    <section name="SystemList" type="SinoSysMonitorCenter.SystemConfigSection, SinoSysMonitorCenter"/>
  </configSections>
  <SystemList>
    <add Name="SZThread" URL="net.tcp://localhost:8733/Design_Time_Addresses/SysWatchServiceLib/SWCommandService/" Token="ok" DeployID="" Description="深圳海关线索移交反馈系统"/>
    <add Name="HZThread" URL="http://192.168.1.254/" Token="ok" Description="杭州海关线索移交反馈系统" DeployID=""/>
    <add Name="NBThread" URL="http://192.168.1.254/" Token="ok" Description="宁波海关线索移交反馈系统" DeployID=""/>
    <add Name="BAPTServer148" URL="net.tcp://10.99.6.148:8087/SysWatchServiceLib/SWCommandService/" Token="ok" DeployID="" Description="办案平台二期148服务器" />
    <add Name="BAPTServer149" URL="net.tcp://10.99.6.149:8087/SysWatchServiceLib/SWCommandService/" Token="ok" DeployID="" Description="办案平台二期149服务器" />
    <add Name="BAPTServer147" URL="net.tcp://192.168.1.174:8087/SysWatchServiceLib/SWCommandService/" Token="ok" DeployID="" Description="办案平台二期(二阶段）服务器" />
  </SystemList>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISWCommandService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBinding1" closeTimeout="00:15:00" openTimeout="00:15:00"
          receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="20971520" maxStringContentLength="20971520"
            maxArrayLength="20971520" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/SysWatchServiceLib/SWCommandService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISWCommandService" contract="SysWatchService.ISWCommandService" name="WSHttpBinding_ISWCommandService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SinoSysMonitorCenter.SinoMonitorCommand">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1" contract="SinoSysMonitorCenter.ISinoMonitorCommand">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8734/Design_Time_Addresses/SinoSysMonitorCenter/ISinoMonitorCommand/"/>
          </baseAddresses>
        </host>
      </service>

    </services>
  </system.serviceModel>

  <connectionStrings>
    <!-- Oracle connection string for Profile database -->
    <add name="OraProfileConnString" connectionString="user id=zhxtv3_APP;data source=tg_SJGK;password=20ZJ11;" providerName="System.Data.OracleClient"/>
    <!-- Oracle connection string for Membership database -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
