<?xml version="1.0" ?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!--单点登录客户端配置项-->
    <section name="ssoClientSection" type="ChinaCustoms.Frameworks.Cupaa.Libraries.Passport.Configuration.SsoClientSection, Cupaa.Libraries.Passport, Version=1.1.0.0, Culture=neutral"/>
  </configSections>
  <ssoClientSection appID="Passport30Test" appSlidingTime="0" idAuthenticationMode="hrcode" authenticationLevelCacheTime="0">
    <ssoPaths>
      <add name="authenticateUrl" uri="http://10.99.101.200/Passport/SsoLogin.aspx"/>
      <add name="logOffUrl" uri="~/LogOff.aspx" logoffToDefaultUriString="~/TestPages/FormsTest.aspx" logoffAutoRedirect="true"/>
      <add name="logOffCallBackUrl" uri="~/LogoffCallbackUrl.axd"/>
      <add name="ssoWebServiceUri" uri="http://10.99.101.200/Passport/services/ssoreaderservice.asmx"/>
    </ssoPaths>
    <authenticationPaths defaultAuthenticationMode="hrcodeauthentication" defaultAuthenticateExtions=".aspx;.ashx;.asmx">

    </authenticationPaths>
    <logOffCallBacks/>
  </ssoClientSection>
  <connectionStrings>
    <!-- Oracle connection string for Profile database -->
    <add name="OraProfileConnString" connectionString="user id=ZHTJ;data source=ORAHZ_V3;password=200HZ8;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <!-- 系统ID -->
    <add key="SystemID" value="842900000020"/>

    <!-- 系统组织机构树根节点--> 
    <add key="SytemDWRootID" value="2900000000"/>
    
    <!-- WebService接口地址 -->  
    <add key="WebInterface" value="http://localhost:8181/SinoMVCWebService.asmx"/>
	  

    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings> 
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="DevExpress.Data.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.CodeParser.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.SpellChecker.v12.2.Core, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Mvc.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v12.2.Web, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Charts.v12.2.Core, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v12.2.Core, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v12.2.Web, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraScheduler.v12.2.Core, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraScheduler.v12.2.iCalendarExchange, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxScheduler.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.PivotGrid.v12.2.Core, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />

        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages validateRequest="false" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <!--<add namespace="DevExpress.Utils" />
        <add namespace="DevExpress.Web.ASPxClasses" />
        <add namespace="DevExpress.Web.ASPxGridView" />
        <add namespace="DevExpress.Web.ASPxGridView.Export" />
        <add namespace="DevExpress.Web.ASPxEditors" />
        <add namespace="DevExpress.Web.ASPxCallbackPanel" />
        <add namespace="DevExpress.Web.ASPxMenu" />
        <add namespace="DevExpress.Web.ASPxNavBar" />
        <add namespace="DevExpress.Web.ASPxPopupControl" />
        <add namespace="DevExpress.Web.ASPxRoundPanel" />
        <add namespace="DevExpress.Web.ASPxSplitter" />
        <add namespace="DevExpress.Web.ASPxTabControl" />
        <add namespace="DevExpress.Web.ASPxTreeView" />
        <add namespace="DevExpress.Web.ASPxUploadControl" />
        <add namespace="DevExpress.Web.ASPxHtmlEditor" />
        <add namespace="DevExpress.Web.ASPxSpellChecker" />
        <add namespace="DevExpress.XtraCharts" />
        <add namespace="DevExpress.XtraCharts.Web" />
        <add namespace="DevExpress.XtraReports" />
        <add namespace="DevExpress.XtraReports.UI" />
        <add namespace="DevExpress.XtraReports.Web" />
        <add namespace="DevExpress.XtraPivotGrid" />
        <add namespace="DevExpress.Data.PivotGrid" />
        <add namespace="DevExpress.Web.ASPxPivotGrid" />
        <add namespace="DevExpress.Web.ASPxPivotGrid.Export" />
        <add namespace="DevExpress.Web.Mvc" />
        <add namespace="DevExpress.Web.Mvc.UI" />
        <add namespace="DevExpress.XtraScheduler" />
        <add namespace="DevExpress.XtraScheduler.Native" />
        <add namespace="DevExpress.Web.ASPxScheduler" />-->

        <add namespace="DevExpress.Utils" />
        <add namespace="DevExpress.Web.ASPxClasses" />
        <add namespace="DevExpress.Web.ASPxDataView" />
        <add namespace="DevExpress.Web.ASPxGridView" />
        <add namespace="DevExpress.Web.ASPxGridView.Export" />
        <add namespace="DevExpress.Web.ASPxEditors" />
        <add namespace="DevExpress.Web.ASPxCallbackPanel" />
        <add namespace="DevExpress.Web.ASPxMenu" />
        <add namespace="DevExpress.Web.ASPxNavBar" />
        <add namespace="DevExpress.Web.ASPxPager" />
        <add namespace="DevExpress.Web.ASPxPopupControl" />
        <add namespace="DevExpress.Web.ASPxRoundPanel" />
        <add namespace="DevExpress.Web.ASPxSplitter" />
        <add namespace="DevExpress.Web.ASPxTabControl" />
        <add namespace="DevExpress.Web.ASPxTreeView" />
        <add namespace="DevExpress.Web.ASPxTreeList" />
        <add namespace="DevExpress.Web.ASPxTreeList.Export" />
        <add namespace="DevExpress.Web.ASPxUploadControl" />
        <add namespace="DevExpress.Web.ASPxHtmlEditor" />
        <add namespace="DevExpress.Web.ASPxSpellChecker" />
        <add namespace="DevExpress.XtraCharts" />
        <add namespace="DevExpress.XtraCharts.Web" />
        <add namespace="DevExpress.Web.Mvc" />
        <add namespace="DevExpress.Web.Mvc.UI" />
        <add namespace="DevExpress.Web" />
        <add namespace="DevExpress.XtraCharts" />
        <add namespace="DevExpress.XtraCharts.Web" />
        <add namespace="DevExpress.XtraReports" />
        <add namespace="DevExpress.XtraReports.UI" />
        <add namespace="DevExpress.XtraReports.Web" />
        <add namespace="DevExpress.XtraPivotGrid" />
        <add namespace="DevExpress.XtraPivotGrid.Customization" />
        <add namespace="DevExpress.Data.PivotGrid" />
        <add namespace="DevExpress.Web.ASPxPivotGrid" />
        <add namespace="DevExpress.XtraScheduler" />
        <add namespace="DevExpress.XtraScheduler.Native" />
        <add namespace="DevExpress.Web.ASPxScheduler" />
        <add namespace="DevExpress.Web" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <add type="ChinaCustoms.Frameworks.Cupaa.Libraries.Passport.HttpModules.AuthenticationModule, Cupaa.Libraries.Passport, Version=1.1.0.0, Culture=neutral" name="CupaaPassPortModule"/>
    </httpModules>
    <globalization culture="" uiCulture="" />
    <httpRuntime maxRequestLength="4096" requestValidationMode="2.0" executionTimeout="110" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="PlasticBlue" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <endpointBehaviors >
        <behavior name="AllenBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>
          <enableWebScript/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
		  <binding name="WSHttpBinding_IClueService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <reliableSession ordered="true" inactivityTimeout="00:10:00"
				  enabled="false" />
			  <security mode="Message">
				  <transport clientCredentialType="Windows" proxyCredentialType="None"
					  realm="" />
				  <message clientCredentialType="Windows" negotiateServiceCredential="true"
					  algorithmSuite="Default" />
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_IAuthorizeService" closeTimeout="00:01:00"
			  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
			  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
			  maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
			  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
			  allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <reliableSession ordered="true" inactivityTimeout="00:10:00"
				  enabled="false" />
			  <security mode="Message">
				  <transport clientCredentialType="Windows" proxyCredentialType="None"
					  realm="" />
				  <message clientCredentialType="Windows" negotiateServiceCredential="true"
					  algorithmSuite="Default" />
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_IQueryModelService" closeTimeout="00:01:00"
			  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
			  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
			  maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
			  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
			  allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <reliableSession ordered="true" inactivityTimeout="00:10:00"
				  enabled="false" />
			  <security mode="Message">
				  <transport clientCredentialType="Windows" proxyCredentialType="None"
					  realm="" />
				  <message clientCredentialType="Windows" negotiateServiceCredential="true"
					  algorithmSuite="Default" />
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_IFlowService" closeTimeout="00:01:00"
			  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
			  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
			  maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
			  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
			  allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <reliableSession ordered="true" inactivityTimeout="00:10:00"
				  enabled="false" />
			  <security mode="Message">
				  <transport clientCredentialType="Windows" proxyCredentialType="None"
					  realm="" />
				  <message clientCredentialType="Windows" negotiateServiceCredential="true"
					  algorithmSuite="Default" />
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_IGuideLineService" closeTimeout="00:01:00"
			  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
			  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
			  maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
			  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
			  allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <reliableSession ordered="true" inactivityTimeout="00:10:00"
				  enabled="false" />
			  <security mode="Message">
				  <transport clientCredentialType="Windows" proxyCredentialType="None"
					  realm="" />
				  <message clientCredentialType="Windows" negotiateServiceCredential="true"
					  algorithmSuite="Default" />
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_IInputModelService" closeTimeout="00:01:00"
			  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
			  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
			  maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
			  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
			  allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <reliableSession ordered="true" inactivityTimeout="00:10:00"
				  enabled="false" />
			  <security mode="Message">
				  <transport clientCredentialType="Windows" proxyCredentialType="None"
					  realm="" />
				  <message clientCredentialType="Windows" negotiateServiceCredential="true"
					  algorithmSuite="Default" />
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_ILogService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
						maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
						allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <reliableSession ordered="true" inactivityTimeout="00:10:00"
				  enabled="false" />
			  <security mode="Message">
				  <transport clientCredentialType="Windows" proxyCredentialType="None"
					  realm="" />
				  <message clientCredentialType="Windows" negotiateServiceCredential="true"
					  algorithmSuite="Default" />
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_IDocumentService" closeTimeout="00:01:00"
						openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
						maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
						allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <reliableSession ordered="true" inactivityTimeout="00:10:00"
				  enabled="false" />
			  <security mode="Message">
				  <transport clientCredentialType="Windows" proxyCredentialType="None"
					  realm="" />
				  <message clientCredentialType="Windows" negotiateServiceCredential="true"
					  algorithmSuite="Default" />
			  </security>
		  </binding>
      <binding name="WSHttpBinding_IOguReader" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
                messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="">
            </transport>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>

      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.99.101.200/CupaaCenterService/OguReaderService.svc/ws"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOguReader"
          contract="IOguReader" name="WSHttpBinding_IOguReader" />
      
	    <endpoint address="http://localhost:9700/Design_Time_Addresses/SinoThreadWCF/ClueService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClueService"
                contract="ClueService.IClueService" name="WSHttpBinding_IClueService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="http://localhost:9700/Design_Time_Addresses/SinoThreadWCF/AuthorizeService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthorizeService"
                contract="TRDAuthorizeService.IAuthorizeService" name="WSHttpBinding_IAuthorizeService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="http://localhost:9700/Design_Time_Addresses/SinoThreadWCF/QueryModelService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQueryModelService"
                contract="QueryModelService.IQueryModelService" name="WSHttpBinding_IQueryModelService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="http://localhost:9700/Design_Time_Addresses/SinoThreadWCF/FlowService/"
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFlowService"
					contract="FlowService.IFlowService" name="WSHttpBinding_IFlowService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="http://localhost:9700/Design_Time_Addresses/SinoThreadWCF/GuideLineService/"
				   binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGuideLineService"
				   contract="GuideLineService.IGuideLineService" name="WSHttpBinding_IGuideLineService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="http://localhost:9700/Design_Time_Addresses/SinoThreadWCF/InputModelService/"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInputModelService"
			contract="InputModelService.IInputModelService" name="WSHttpBinding_IInputModelService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="http://localhost:9700/Design_Time_Addresses/SinoThreadWCF/LogService/"
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogService"
					contract="LogService.ILogService" name="WSHttpBinding_ILogService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="http://localhost:9700/Design_Time_Addresses/SinoThreadWCF/DocumentService/"
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentService"
					contract="DocumentService.IDocumentService" name="WSHttpBinding_IDocumentService">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
	</client>
  </system.serviceModel>
</configuration>