<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IJSGeneralDataService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1321/JSGeneralDataService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJSGeneralDataService"
                contract="JSGeneralDataService.IJSGeneralDataService" name="WSHttpBinding_IJSGeneralDataService">
                <identity>
                    <userPrincipalName value="WIN-E7312K9Q1T1\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>