<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICommonService" />
                <binding name="WSHttpBinding_IMetaDataService" />
                <binding name="WSHttpBinding_IReportService" />
                <binding name="WSHttpBinding_IUserManagerService" />
                <binding name="WSHttpBinding_IMetaDataQueryService" />
                <binding name="WSHttpBinding_ISinoBestMTS" />
                <binding name="WSHttpBinding_IAuthorizeService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/CommonService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonService"
                contract="SinoSZJSCommonService.ICommonService" name="WSHttpBinding_ICommonService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMetaDataService"
                contract="SinoSZJSMetaDataService.IMetaDataService" name="WSHttpBinding_IMetaDataService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/ReportService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportService"
                contract="SinoSZJSReportService.IReportService" name="WSHttpBinding_IReportService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/UserManagerService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserManagerService"
                contract="SinoSZJSUserManagerService.IUserManagerService"
                name="WSHttpBinding_IUserManagerService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataQueryService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMetaDataQueryService"
                contract="SinoSZJSMetaDataQueryService.IMetaDataQueryService"
                name="WSHttpBinding_IMetaDataQueryService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/SinoBestMTS/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISinoBestMTS"
                contract="SinSZJSSinoBestMTS.ISinoBestMTS" name="WSHttpBinding_ISinoBestMTS">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/AuthorizeService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthorizeService"
                contract="AuthorizeService.IAuthorizeService" name="WSHttpBinding_IAuthorizeService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>