<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- 中科富星插件框架配置　 -->
    <section name="PluginSection" type="SinoSystemWatch.Base.PluginFramework.PluginConfigurationSection, SinoSystemWatch.Base" />
    <!-- 监控Win服务配置 -->
    <section name="CheckWinServiceList" type="SinoSystemWatch.Base.WinServiceCheck.CheckWinServiceConfigSection, SinoSystemWatch.Base"/>
    <!-- 监控WCF接口配置 -->
    <section name="CheckWCFServiceList" type="SinoSystemWatch.Base.Application.CheckWCFServiceConfigSection, SinoSystemWatch.Base"/>
    <!-- 监控SystemLog日志 -->
    <section name="CheckSystemLogList" type="SinoSystemWatch.Base.Application.CheckSystemLogConfigSection, SinoSystemWatch.Base"/>
    <!-- 监控系统任务配置 -->
    <section name="CheckTaskList" type="SinoSystemWatch.Base.TaskCheck.CheckTaskConfigSection, SinoSystemWatch.Base"/>
  </configSections>

  <!-- 插件配置节-->
  <PluginSection>
    <add Name="WatchSystemServerPlugin" Type="SinoSysWatchService.System.WatchSystemServerPlugin" Assembly="SinoSysWatchService.System.dll" Description="操作系统运行监控插件!" />
    <add Name="WatchDataBaseServerPlugin" Type="SinoSysWatchService.DataBase.WatchDataBaseServerPlugin" Assembly="SinoSysWatchService.DataBase.dll" Description="数据库运行监控插件!" />
    <add Name="WatchApplicationServerPlugin" Type="SinoSysWatchService.Application.WatchApplicationServerPlugin" Assembly="SinoSysWatchService.Application.dll" Description="应用系统监控插件!" />
    <add Name="WatchTaskServerPlugin" Type="SinoSysWatchService.Task.WatchTaskServerPlugin" Assembly="SinoSysWatchService.Task.dll" Description="系统任务监控插件!" />
  </PluginSection>

  <!-- 检测服务配置节 -->
  <CheckWinServiceList>
    <add Name="aspnet_state" Description="ASP.NET 状态服务" />
    <add Name="OracleServiceORABJ" Description="ORACLE 数据库服务" />
    <add Name="IISADMIN" Description="IIS 服务管理器"/>
  </CheckWinServiceList>

  <!-- 监控SystemLog日志 -->
  <CheckSystemLogList>
    <add Name="BAPT" Description="办案平台" ConnectName="OraProfileConnString"  />
  </CheckSystemLogList>

  <!-- 监控系统任务列表 -->
  <CheckTaskList>
    <add Name="TJS" RWID="2" Description="统计司数据上报任务" ConnectName="OraProfileConnString" />
  </CheckTaskList>

  <!-- WCF接口检测 -->
  <CheckWCFServiceList>
    <add Name="AuthorizeService" Description="办案平台身份认证逻辑服务" URL="net.tcp://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/AuthorizeService" Type="csAuthorizeService"/>
    <add Name="CommonService" Description="办案平台通用逻辑服务" URL="net.tcp://192.168.12.1:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/CommonService/" Type="csCommonService"/>


    <!--  
      <add Name="TokenService" Description="办案平台令牌服务" URL="" Type="csTokenService"/>
      <add Name="MetaDataService" Description="办案平台元数据逻辑服务" URL="" Type="csMetaDataService"/>
      <add Name="ReportService" Description="办案平台报表逻辑服务" URL="" Type="csReportService"/>
      <add Name="UserManagerService" Description="办案平台用户逻辑服务" URL="" Type="csUserManagerService"/>
   
      <add Name="MetaDataQueryService" Description="办案平台查询逻辑服务" URL="" Type="csMetaDataQueryService"/>
      <add Name="SinoBestMTS" Description="办案平台消息传输服务" URL="" Type="csSinoBestMTS"/>
    -->

  </CheckWCFServiceList>

  <appSettings>
    <!-- 是否以Windows服务方式运行 -->
    <add key="WindowsService" value="NO"/>

    <!-- 是否记录系统操作日志 -->
    <add key="SystemLogType" value="NONE"/>

    <!-- 是否发出响声 -->
    <add key="BeepOnSvcAction" value="YES"/>

    <!-- IIS 日志所在目录 -->
    <add key="IISLogPath" value="C:\inetpub\logs\LogFiles"/>

    <!-- Web响应用时超长预警时长 -->
    <add key="WebExcuteWarningTime" value="120000"/>

    <!-- 监听TCP端口号 -->
    <add key="ListenPort" value="20096"/>

    <!-- WCF访问令牌 -->
    <add key="WcfMonitorToken" value="1"/>

  </appSettings>

  <!-- 数据库连接 -->
  <connectionStrings>
    <!-- Oracle connection string for Profile database -->
    <add name="OraProfileConnString" connectionString="user id=zhxtv3_APP;data source=tg_SJGK;password=20ZJ11;" providerName="System.Data.OracleClient"/>
    <add name="METADATA_CONN" connectionString="user id=METADATA;data source=tg_SJGK;password=20ZJ11;" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NeedTicketBehavior">
          <SinoSZJSNeedTicket />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="SinoSZJSNeedTicket" type="SinoSZJS.Base.WCF.Client.MyClientBehavior, SinoSZJS.Base, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>


    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding1" closeTimeout="00:15:00" openTimeout="00:15:00"
          receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferSize="65536000"
          maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="20971520" maxStringContentLength="20971520"
            maxArrayLength="20971520" />
          <security mode="None" />
        </binding>
      </netTcpBinding>

    </bindings>

    <client>
      <endpoint address="net.tcp://10.99.8.1:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/AuthorizeService/"
        binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
        contract="AuthorizeService.IAuthorizeService" name="NETTcpBinding_IAuthorizeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://10.99.8.1:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/CommonService/"
       behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
       bindingConfiguration="netTcpBinding1" contract="SinoSZJSCommonService.ICommonService"
       name="NETTcpBinding_ICommonService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataService/"
                  behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
                   bindingConfiguration="netTcpBinding1" contract="SinoSZJSMetaDataService.IMetaDataService"
                name="NETTcpBinding_ICommonService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataQueryService/"
                  behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding1"
                 contract="MetaDataQueryService.IMetaDataQueryService" name="WSHttpBinding_IMetaDataQueryService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/UserManagerService/"
                 behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
                 bindingConfiguration="netTcpBinding1" contract="UserManagerService.IUserManagerService"
                name="WSHttpBinding_IUserManagerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/ReportService/"
                 behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
                 bindingConfiguration="netTcpBinding1" contract="ReportService.IReportService"
                name="WSHttpBinding_IReportService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

    </client>

    <services>
      <service name="SysWatchServiceLib.SWCommandService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1" contract="SysWatchServiceLib.ISWCommandService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/SysWatchServiceLib/SWCommandService/" />
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>
</configuration>
