<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- 中科富星插件框架配置　 -->
    <section name="PluginSection" type="SinoSZPluginFramework.PluginConfigurationSection, SinoSZPluginFramework" />
  </configSections>
  <PluginSection>
    <add Name="AuthorizeServerPlugin" Type="SinoSZJS.CS.BizAuthorize.AuthorizeServerPlugin" Assembly="SinoSZJS.CS.BizAuthorize.dll" Description="用户身份验证逻辑插件!" />
    <add Name="SinoSZBizMenu" Type="SinoSZJS.CS.BizMenu.SinoMenuServerPlugin" Assembly="SinoSZJS.CS.BizMenu.dll" Description="系统菜单逻辑插件!" />
    <add Name="SinoSZBizRefTable" Type="SinoSZJS.CS.BizRefTable.SinoRefTableServerPlugin"  Assembly="SinoSZJS.CS.BizRefTable.dll" Description="基于元数据的代码表逻辑插件!" />
    <add Name="SinoSZBizMetaDataManager" Type="SinoSZJS.CS.BizMetaDataManager.MetaDataManagerServerPlugin"  Assembly="SinoSZJS.CS.BizMetaDataManager.dll" Description="基于元数据的管理逻辑插件!" />
    <add Name="UserManagerServerPlugin" Type="SinoSZJS.CS.BizUser.UserManagerServerPlugin"  Assembly="SinoSZJS.CS.BizUser.dll" Description="用户及授权管理业务逻辑插件!" />
    <add Name="SysManagerServerPlugin" Type="SinoSZJS.CS.BizSysManager.SysManagerServerPlugin"  Assembly="SinoSZJS.CS.BizSysManager.dll" Description="系统管理业务逻辑插件!" />
    <add Name="ReportServerPlugin" Type="SinoSZJS.CS.BizReport.ReportServerPlugin"  Assembly="SinoSZJS.CS.BizReport.dll" Description="报表逻辑插件!" />
    <add Name="TaskServerPlugin" Type="SinoSZJS.CS.Tasks.TaskServerPlugin"  Assembly="SinoSZJS.CS.Tasks.dll" Description="缉私办案工作平台任务插件库!" />
  </PluginSection>

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="SinoBestSZServiceBehavior" type="SinoSZJS.Base.WCF.Service.MyServiceBehavior, SinoSZJS.Base, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding1" closeTimeout="02:15:00" openTimeout="02:15:00"
          receiveTimeout="02:15:00" sendTimeout="02:15:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="20971520" maxStringContentLength="20971520"
            maxArrayLength="20971520" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="SinoSZJS.WCF.Lib.IAuthorizeService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/IAuthorizeService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WCF.Lib.AuthorizeService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="SinoSZJS.WCF.Lib.IAuthorizeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/AuthorizeService/" />
          </baseAddresses>
        </host>
      </service>

      <service name="SinoSZJS.WCF.Lib.IReportService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/IReportService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WCF.Lib.ReportService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="SinoSZJS.WCF.Lib.IReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/ReportService/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="NeedTicketBehavior" name="SinoSZJS.WCF.Lib.ConfigDataService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="SinoSZJS.WCF.Lib.IConfigDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/ConfigDataService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="NeedTicketBehavior" name="SinoSZJS.WCF.Lib.CommonService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="SinoSZJS.WCF.Lib.ICommonService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/CommonService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WCF.Lib.IMetaDataService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/IMetaDataService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WCF.Lib.MetaDataService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="SinoSZJS.WCF.Lib.IMetaDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WCF.Lib.IMetaDataQueryService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/IMetaDataQueryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WCF.Lib.MetaDataQueryService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="SinoSZJS.WCF.Lib.IMetaDataQueryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataQueryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WCF.Lib.IUserManagerService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/IUserManagerService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WCF.Lib.UserManagerService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
          contract="SinoSZJS.WCF.Lib.IUserManagerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.99.6.152:8086/Design_Time_Addresses/SinoSZJS.WCF.Lib/UserManagerService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NeedTicketBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
          <SinoBestSZServiceBehavior />
        </behavior>
        <behavior name="defaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <appSettings>
    <!-- 是否以Windows服务方式运行 -->
    <add key="WindowsService" value="no"/>

    <!-- 是否记录系统操作日志 -->
    <add key="SystemLogType" value="NONE"/>

    <!-- 是否发出响声 -->
    <add key="BeepOnSvcAction" value="YES" />

    <!-- Remoting采用的HTTP端口号 -->
    <add key="ICS_HttpSvcPort" value="8087" />

    <!-- Remoting采用的TCP端口号 -->
    <add key="ICS_TcpSvcPort" value="8086"/>

    <!-- 数据来源类型 ORACLE,SQLSERVER -->
    <add key="DataBaseType" value="ORACLE"/>

    <!-- 系统登录验证方式 NONE:不验证 BASE:基本验证方式 QDHB:青岛HB2004验证方式 OGUPermission:总局通用授权平台-->
    <add key="LoginType" value="BASE"/>

    <!-- 系统ID -->
    <add key="SystemID" value="844200000020"/>

    <!-- 系统组织机构树根节点-->
    <add key="SytemDWRootID" value="1"/>

    <!-- Remoting远程对象生存期租约续期时间间隔（秒）-->
    <add key="RemoteRenewValue" value="40" />

    <!-- RunTask 启动任务运行 -->
    <add key="RunTask" value="YES"/>
    
    <!-- Reporting Service 部分 -->
    <add key="Rs_Url" value="http://192.168.3.132/ReportServer/ReportService.asmx"/>
    <add key="Rs_UserName" value="administrator"/>
    <add key="Rs_UserPass" value=""/>
    <add key="Rs_StartDate" value="200501"/>

  </appSettings>


  <connectionStrings>
    <!-- Oracle connection string for Profile database -->
    <add name="OraProfileConnString" connectionString="user id=ZHTJ;data source=ORA10_TJ;password=ZHTJ;" providerName="System.Data.OracleClient"/>
    <!-- Oracle connection string for Membership database -->
  </connectionStrings>
</configuration>