<?xml version="1.0" ?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!-- Oracle connection string for Profile database -->
		<add name="OraProfileConnString" connectionString="user id=ZHTJ;data source=ORASZ_ZFJD2;password=20S1Z2;" providerName="System.Data.OracleClient"/>
	</connectionStrings>
	<appSettings>
		<!-- 系统ID -->
		<add key="SystemID" value="845300000020"/>

		<!-- 系统组织机构树根节点-->
		<add key="SytemDWRootID" value="5300000000"/>

		<!--身份验证方式　 BASE  　JSLogin:采用缉私综合系统登录 Test:测试时的验证方式   　QDHBLogin:采用青岛HB2004验证   QDHBSVLogin:采用青岛HB2004WebService验证-->
		<add key="LoginType" value="Test"/>

		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="false" />


	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="DevExpress.Data.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxEditors.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxGridView.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxGridView.v12.1.Export, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxSpellChecker.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxTreeList.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxThemes.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxPivotGrid.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Utils.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.SpellChecker.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Charts.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraCharts.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraCharts.v12.1.Web, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Printing.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v12.1.Web, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraPivotGrid.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.PivotGrid.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxPivotGrid.v12.1.Export, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraScheduler.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxScheduler.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.Mvc.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/Home/Index" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<pages validateRequest="false" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="DevExpress.Utils" />
				<add namespace="DevExpress.Web.ASPxClasses" />
				<add namespace="DevExpress.Web.ASPxGridView" />
				<add namespace="DevExpress.Web.ASPxGridView.Export" />
				<add namespace="DevExpress.Web.ASPxEditors" />
				<add namespace="DevExpress.Web.ASPxCallbackPanel" />
				<add namespace="DevExpress.Web.ASPxMenu" />
				<add namespace="DevExpress.Web.ASPxNavBar" />
				<add namespace="DevExpress.Web.ASPxPopupControl" />
				<add namespace="DevExpress.Web.ASPxRoundPanel" />
				<add namespace="DevExpress.Web.ASPxSplitter" />
				<add namespace="DevExpress.Web.ASPxTabControl" />
				<add namespace="DevExpress.Web.ASPxTreeView" />
				<add namespace="DevExpress.Web.ASPxUploadControl" />
				<add namespace="DevExpress.Web.ASPxHtmlEditor" />
				<add namespace="DevExpress.Web.ASPxSpellChecker" />
				<add namespace="DevExpress.XtraCharts" />
				<add namespace="DevExpress.XtraCharts.Web" />
				<add namespace="DevExpress.XtraReports" />
				<add namespace="DevExpress.XtraReports.UI" />
				<add namespace="DevExpress.XtraReports.Web" />
				<add namespace="DevExpress.XtraPivotGrid" />
				<add namespace="DevExpress.Data.PivotGrid" />
				<add namespace="DevExpress.Web.ASPxPivotGrid" />
				<add namespace="DevExpress.Web.ASPxPivotGrid.Export" />
				<add namespace="DevExpress.Web.Mvc" />
				<add namespace="DevExpress.Web.Mvc.UI" />
				<add namespace="DevExpress.XtraScheduler" />
				<add namespace="DevExpress.XtraScheduler.Native" />
				<add namespace="DevExpress.Web.ASPxScheduler" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
		</httpHandlers>
		<httpModules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<globalization uiCulture="zh-CHS" culture="zh-CHS"/>
		<httpRuntime maxRequestLength="4096" requestValidationMode="2.0" executionTimeout="110" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>
		<handlers>
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd"/>
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="30000000" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"   culture="neutral"/>
				<bindingRedirect oldVersion="2.112.1.0" newVersion="4.112.1.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="PlasticBlue" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings rightToLeft="false" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<behaviors>
			<endpointBehaviors >
				<behavior name="AllenBehavior">
					<webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>
					<enableWebScript/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IJSAJService" closeTimeout="00:10:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IThreadService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IQueryModelService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
				 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
				 allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_ILogService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="20000000"
				 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
				 allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IInputModelService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
				 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
				 allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IFlowService" closeTimeout="00:10:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IAppRegService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IGuidelineService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IDocumentService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
				 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
				 allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IReportService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="20000000"
				 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
				 allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IBackLogService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IAuthorizeService" closeTimeout="00:01:00"
		 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
		 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
		 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text"
		 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
					 maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/JSAJService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJSAJService"
			 contract="JSAJService.IJSAJService" name="WSHttpBinding_IJSAJService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/ThreadService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IThreadService"
			 contract="ThreadService.IThreadService" name="WSHttpBinding_IThreadService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/QueryModelService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQueryModelService"
			 contract="QueryModelService.IQueryModelService" name="WSHttpBinding_IQueryModelService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/LogService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogService"
			 contract="LogService.ILogService" name="WSHttpBinding_ILogService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/InputModelService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInputModelService"
			 contract="InputModelService.IInputModelService" name="WSHttpBinding_IInputModelService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/FlowService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFlowService"
			 contract="FlowService.IFlowService" name="WSHttpBinding_IFlowService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/AppRegService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAppRegService"
			 contract="AppRegService.IAppRegService" name="WSHttpBinding_IAppRegService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/GuidelineService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGuidelineService"
			 contract="GuidelineService.IGuidelineService" name="WSHttpBinding_IGuidelineService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/DocumentService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentService"
			 contract="DocumentService.IDocumentService" name="WSHttpBinding_IDocumentService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/ReportService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportService"
			 contract="ReportService.IReportService" name="WSHttpBinding_IReportService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/BackLogService/"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBackLogService"
			 contract="BackLogService.IBackLogService" name="WSHttpBinding_IBackLogService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/AuthorizeService/"
	   binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthorizeService"
	   contract="AuthorizeService.IAuthorizeService" name="WSHttpBinding_IAuthorizeService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>

</configuration>