<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PluginSection" type="SinoSZPluginFramework.PluginConfigurationSection, SinoSZPluginFramework"/>
  </configSections>
  <PluginSection>
    <add Name="SinoSZClientSysManager" Type="SinoSZClientSysManager.SinoSZClientSysManagerPlugin" Assembly="SinoSZClientSysManager.dll" Description="中科富星系统管理插件!"/>
    <add Name="SinoSZMetaDataManager" Type="SinoSZMetaDataManager.SinoSZMetaDataManagerPlugin" Assembly="SinoSZMetaDataManager.dll" Description="This is SinoSZMetaData Manager Plugin!"/>
    <add Name="SinoSZMetaDataQuery" Type="SinoSZMetaDataQuery.SinoSZMetaDataQueryPlugin" Assembly="SinoSZMetaDataQuery.dll" Description="This is SinoSZMetaData Model Query Plugin!"/>
    <add Name="SinoSZClientUser" Type="SinoSZClientUser.SinoSZClientUserPlugin" Assembly="SinoSZClientUser.dll" Description="中科富星用户及授权管理插件!"/>
    <add Name="SinoSZClientReport" Type="SinoSZClientReport.SinoSZClientReportPlugin" Assembly="SinoSZClientReport.dll" Description="中科富星报表插件!"/>
  </PluginSection>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NeedTicketBehavior">
          <SinoSZJSNeedTicket />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="SinoSZJSNeedTicket" type="SinoSZJS.Base.WCF.Client.MyClientBehavior, SinoSZJS.Base, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding1" closeTimeout="00:15:00" openTimeout="00:15:00"
          receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferSize="65536000"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="20971520" maxStringContentLength="20971520"
            maxArrayLength="20971520" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://163.177.76.221:17080/Design_Time_Addresses/SinoSZJS.WCF.Lib/AuthorizeService/"
        binding="netTcpBinding" bindingConfiguration="netTcpBinding1"
        contract="AuthorizeService.IAuthorizeService" name="NETTcpBinding_IAuthorizeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://163.177.76.221:17080/Design_Time_Addresses/SinoSZJS.WCF.Lib/CommonService/"
        behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
        bindingConfiguration="netTcpBinding1" contract="CommonService.ICommonService"
        name="NETTcpBinding_ICommonService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://163.177.76.221:17080/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataService/"
                behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
                bindingConfiguration="netTcpBinding1"
                contract="MetaDataService.IMetaDataService" name="WSHttpBinding_IMetaDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://163.177.76.221:17080/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataQueryService/"
                  behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding1"
                 contract="MetaDataQueryService.IMetaDataQueryService" name="WSHttpBinding_IMetaDataQueryService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://163.177.76.221:17080/Design_Time_Addresses/SinoSZJS.WCF.Lib/UserManagerService/"
                 behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
                 bindingConfiguration="netTcpBinding1" contract="UserManagerService.IUserManagerService"
                name="WSHttpBinding_IUserManagerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://163.177.76.221:17080/Design_Time_Addresses/SinoSZJS.WCF.Lib/ReportService/"
                 behaviorConfiguration="NeedTicketBehavior" binding="netTcpBinding"
                 bindingConfiguration="netTcpBinding1" contract="ReportService.IReportService"
                name="WSHttpBinding_IReportService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <appSettings>

    <!--自动更新地址 -->
    <add key="LiveUpdate_SvrInfoUrl" value="http://163.177.76.221:18083/baptupdate/UpdateVersion.xml"/>
    <!-- 系统显示名称 -->
    <add key="SystemDisplayName" value="海关缉私业务统计系统（测试版）"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
