<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="SinoSZJS.WCF.Lib.AuthorizeService">
                <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WCF.Lib.IAuthorizeService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/AuthorizeService/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="SinoSZJS.WCF.Lib.CommonService">
                <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WCF.Lib.ICommonService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/CommonService/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="SinoSZJS.WCF.Lib.MetaDataQueryService">
                <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WCF.Lib.IMetaDataQueryService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataQueryService/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="SinoSZJS.WCF.Lib.MetaDataService">
                <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WCF.Lib.IMetaDataService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/MetaDataService/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="SinoSZJS.WCF.Lib.UserManagerService">
                <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WCF.Lib.IUserManagerService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/UserManagerService/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="SinoSZJS.WCF.Lib.ReportService">
                <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WCF.Lib.IReportService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/ReportService/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="SinoSZJS.WCF.Lib.TokenService">
                <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WCF.Lib.ITokenService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/TokenService/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="SinoSZJS.WCF.Lib.SinoBestMTS">
                <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WCF.Lib.ISinoBestMTS">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SinoSZJS.WCF.Lib/SinoBestMTS/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
