<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Oracle connection string for Profile database -->
	  <add name="OraProfileConnString" connectionString="user id=ZHTJ;data source=ORA10_TJ;password=ZHTJ;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <!-- 是否以Windows服务方式运行 -->
    <add key="WindowsService" value="YES" />
	  <!-- 系统ID -->
	  <add key="SystemID" value="910000000010"/>

	  <!-- 系统组织机构树根节点-->
	  <add key="SytemDWRootID" value="1"/>
    
    <!--身份验证方式　 BASE  　JSLogin:采用缉私综合系统登录 Test:测试时的验证方式   　QDHBLogin:采用青岛HB2004验证   QDHBSVLogin:采用青岛HB2004WebService验证-->
    <add key="LoginType" value="Test" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <!-- Reporting Service 部分 -->
    <add key="Rs_Url" value="http://192.168.3.128/ReportServer/ReportService.asmx" />
    <add key="Rs_UserName" value="administrator" />
    <add key="Rs_UserPass" value="hk1997" />
    <add key="Rs_StartDate" value="200501" />
    <add key="ClientSettingsProvider.ServiceUri" value="" /> 
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <services>
      <service name="SinoSZJS.WebWCF.JSAJService">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IJSAJService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/JSAJService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.FlowService">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IFlowService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/FlowService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.LogService">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.ILogService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/LogService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.GuidelineService">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IGuidelineService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/GuidelineService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.QueryModelService">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IQueryModelService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/QueryModelService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.AppRegService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="newBinding" contract="SinoSZJS.WebWCF.IAppRegService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/AppRegService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.DocumentService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="newBinding" contract="SinoSZJS.WebWCF.IDocumentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/DocumentService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.InputModelService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="newBinding" contract="SinoSZJS.WebWCF.IInputModelService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/InputModelService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.ReportService">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/ReportService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.BackLogService">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IBackLogService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/BackLogService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.AuthorizeService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="newBinding" contract="SinoSZJS.WebWCF.IAuthorizeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/AuthorizeService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.AssistCase">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IAssistCase">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/AssistCase/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.ThreadService">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IThreadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/ThreadService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SinoSZJS.WebWCF.FunctionManage">
        <endpoint address="" binding="wsHttpBinding" contract="SinoSZJS.WebWCF.IFunctionManage">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Design_Time_Addresses/SinoSZJS.WebWCF/FunctionManage/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="newBinding" maxBufferPoolSize="21474835647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AllenBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
          <enableWebScript />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>