<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SinoSZJS.CS.BizReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SinoSZJS.CS.BizReport.Properties.Settings>
            <setting name="SinoSZJS_CS_BizReport_ReportService2008_ReportExecutionService"
                serializeAs="String">
                <value>http://W2008X64RPT:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
        </SinoSZJS.CS.BizReport.Properties.Settings>
    </applicationSettings>
</configuration>