<?xml version="1.0"?>
<configuration>
  <ApplicationFolderName>Main</ApplicationFolderName>
  <ApplicationExeName>SinoSZJS.CS.ClientTJ.exe</ApplicationExeName>
  <DeleteTemp>YES</DeleteTemp>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
